@charset 'UTF-8';

h1{
    text-align: center;
    color: azure;

}
body{
    background-color: rgb(93, 93, 235);

}
#container{
    border-radius: 3%;
    background: #e5eae7;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 9%;
}
#sexo{

padding-top: 5% ;


}
#verificar{

padding-top: 5%;
padding-left: 2%;
}
#nascimento{

padding-top: 3%;
padding-left: 2%;

}
#res{

font-size: 25;
text-align: center;
padding-top: 9%;

}
#foto{

    

}
#img{

    width: 250;
    height: 250;
    margin-left: 30%;
    border-radius: 50%;

}
